.imageField {
  width: 100%;
  height: 120px;

  img {
    width: 100%;
    height: 100%;
    margin-top: 12px;
    object-fit: cover;
  }
}

.loader {
  cursor: pointer;

  position: relative;

  display: inline-block;

  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;

  .fileInput {
    display: none;
  }
}

.label {
  margin: 0 0 12px;
}
