.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0 0 24px;
}

.email {
  display: flex;
  justify-content: center;
}

.info {
  margin: 20px 0 64px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.button {
  margin-bottom: 28px;
}
