.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 28px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .forgotPassword {
    margin: 0;
    text-align: right;

    &:hover {
      color: var(--color-primary-500);
    }
  }
}

.signIn {
  margin-top: 40px;
}

.text {
  margin: 20px 0 0;
  padding: 0;
  color: var(--color-light-900);
  text-align: center;
}

.signUp {
  cursor: pointer;
  color: var(--color-primary-500);
  text-decoration: underline;
}
