/* reset */
button {
  all: unset;
}

.MainBox {
  display: flex;
  align-items: center;
  padding: 6px 9px 6px 6px;

  //background-color: #0a6638;
}

.CheckboxRoot {
  //box-shadow: 0 2px 10px yellow;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  margin: 3px;

  //background-color: var(--color-light-900);
  background-color: white;
  border-radius: 2px;

  &:hover::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;

    background-color: var(--color-dark-500);
    border-radius: 50%;
  }

  &:active::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;

    background-color: var(--color-dark-100);
    border-radius: 50%;
  }
}

//active
.CheckboxRoot:focus {
}

.CheckboxIndicator {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  //width: 24px;
  //height: 24px;
  //
  //background-color: var(--color-primary-900);
}

.Label {
  padding-left: 8px;
  font-size: 15px;
  line-height: 1;
  color: white;
}
