@mixin button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  margin: 10px;
  padding: 6px 28px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);

  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: initial;
  }
}

.primary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-primary-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:focus {
    background-color: var(--color-primary-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-primary-900);
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }

  &:hover:not(&:disabled, &:active) {
    background-color: var(--color-primary-300);
  }

  &:active:not(&:disabled) {
    border: 2px solid var(--color-info-700);
  }
}

.secondary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  &:focus {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }

  &:hover:not(&:disabled, &:active) {
    background-color: var(--color-dark-100);
  }

  &:active:not(&:disabled) {
    border: 2px solid var(--color-info-700);
  }
}

.tertiary {
  @include button;

  color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);

  &:focus {
    background-color: var(--color-primary-900);
  }

  &:disabled {
    color: var(--color-primary-900);
    border-color: var(--color-primary-900);
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-dark-500);
  }

  &:active:not(&:disabled) {
    background-color: var(--color-dark-900);
    border: 2px solid var(--color-info-700);
  }
}

.link {
  @include button;

  font-size: 16px;
  color: var(--color-primary-500);

  &:focus,
  &:focus-visible {
    color: var(--color-primary-700);
    border-radius: 50px;
  }

  &:disabled {
    color: var(--color-primary-900);
  }

  &:hover:not(&:disabled) {
    color: var(--color-primary-300);
  }

  &:active:not(&:disabled) {
    border: 2px solid var(--color-info-700);
    border-radius: 50px;
  }
}

.fullWidth {
  width: 100%;
}
