.trigger {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.content {
  position: relative;

  margin: 8px;
  padding: 12px;

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;
}

.arrow {
  position: absolute;
  top: -9px;
  right: 4px;
  transform: rotate(45deg);

  width: 16px;
  height: 16px;

  background-color: var(--color-dark-700);
  border-top: 1px solid var(--color-dark-500);
  border-top: none;
  border-left: none;

  fill: var(--color-dark-700);
}

.item {
  cursor: pointer;

  display: flex;
  gap: 6px;
  align-items: center;

  width: 100%;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:not(:last-child) {
    padding-bottom: 12px;
  }

  &:not(:first-child) {
    padding-top: 12px;
  }
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdownMenuSeparator {
  height: 2px;
  background-color: var(--color-dark-500);
}

.photoAndEmail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.userEmail {
  color: var(--color-dark-100);
}
