@mixin typography($fS, $lH, $fW) {
  font-size: $fS;
  font-weight: $fW;
  line-height: $lH;
}

.large {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-bold));
}

.h1 {
  @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
}

.h2 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-semi-bold));
}

.h3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.subtitle2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
}

.body1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}

.body2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
}

.overline {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-bold));

  text-transform: uppercase;
}

.caption {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
}

.link1 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));

  cursor: pointer;
  color: var(--color-info-500);
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.link2 {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));

  cursor: pointer;
  color: var(--color-info-500);
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
