.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 50px;
}

.info {
  margin: 20px 0 64px;
  color: var(--color-light-900);
  text-align: left;
  opacity: 0.5;
}

.button {
  margin-bottom: 20px;
}

.rememberPassword {
  margin: 0 0 11px;
  padding: 0;
  color: var(--color-light-900);
}

.loggingIn {
  cursor: pointer;
  color: var(--color-primary-500);
  text-decoration: underline;
}
